h1 {
	font-family: 'Courier New', Courier, monospace;
	color: rgb(231, 6, 6);
}

.syntax {
	background-color: rgb(34, 236, 16);
	font-family: 'Times New Roman', Times, serif;
	color: rgb(0, 0, 0);
}

h2, h3, h4, h5, h6{
	color: rgb(82, 174, 204);
}

p, pre{
	font-family: 'Courier New', Courier, monospace;
	color: rgb(34, 236, 16);
}

li{
	font-family: 'Courier New', Courier, monospace;
}

body
{
	text-align: left;
	background-color: black;
}

em {
	color: blue;
}

a{
	color: rgb(41, 140, 127);
}

li {
	color: blueviolet;
}
