h1 {
	font-family: 'Courier New', Courier, monospace;
	color: rgb(4, 44, 177);
}

.syntax {
		font-family: monospace;
		font-size: 1em;
		color: #d65433;  
		background-color: #f8f9fa;
		padding: 2px 4px;
}

h2, h3, h4, h5, h6{
	font-family: 'Courier New', Courier, monospace;
	color: rgb(11, 181, 238);
}

p{
	font-family: 'Courier New', Courier, monospace;
	color: rgb(255, 255, 255);
}

li{
	color: rgb(4, 250, 176);
	font-family: 'Courier New', Courier, monospace;
}

body
{
	text-align: left;
	background-color: black;
}

em {
	color: blue;
}
