h1 {
	font-weight: 800;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(158, 53, 53);
}

body {
	text-align: left;
	background-color: black;
}

em {color: blue;}

#CSS{ padding-left: 20px; }

a:hover {
    font-size: large;
    color: rgb(57, 189, 138);
}

label{color: aliceblue;}

a {color: #f7b500;}

.syntax {
	font-weight: bold;
	font-family: Consolas,Menlo,"courier new",monospace;
	color: #000000;
	background-color: #f8f9fa;
	padding: 4px 8px; 
	display: inline-block;
    border-radius: 4px; /* makes the edges round*/
	line-height: 1.1;
}

h2, h3, h4, h5, h6 {
	font-family: 'Courier New', Courier, monospace;
	color: rgb(11, 181, 238);
}

p {
	font-family: 'Courier New', Courier, monospace;
	color: rgb(255, 255, 255);
	max-width: 700px;
}

#head { text-align: center;}

li {
	color: rgb(4, 250, 176);
	font-family: 'Courier New', Courier, monospace;
}

